<body>
    <head>
        <h1>
            <p style="color:#ffffff" ;> Galeria de piezas destacadas</p>
        </h1>
    </head>

<br></br>


    <div class="jumbotron">
        <h1>Pachinco Museum</h1>
        <p class="lead">Pachinco museum es uno de los mayores y más famosos museos de historia natural del mundo, Institución dedicada a la adquisición, conservación, estudio y exposición de objetos de valor .</p>


    </div>

    <div class="row">
        <h2>
            <p style="color:#ffffff" ;> galeria de exhibiciones destacadas</p>
        </h2>
        <br></br>

        <h3>
            <p style="color:#ffffff" ;>Biclicleta de nairo quintana </p>
        </h3>
        <h4>
            <p style="color:#ffffff" ;>Reliquia del ciclismo unica en el mundo, huele a pedos</p>
        </h4>
        <div>
            <p>
                <img src="~/imagenes de museo/bicicleta de nairo quintana.jpg" width="500" />

            </p>

        </div>

        <br></br>

        <h3>
            <p style="color:#ffffff" ;>camiseta de la seleccion argentina de futbol </p>
        </h3>
        <h4>
            <p style="color:#ffffff" ;>Esta camiseta era de messi</p>
        </h4>
        <div>
            <img src="~/imagenes de museo/camiseta de messi.jpg"
                 width="500" />
        </div>

        <br>
        </br>

        <div>
            <h3>
                <p style="color:#ffffff" ;>primera edicion de ciber dragon infinit </p>
            </h3>
            <h4>
                <p style="color:#ffffff" ;>esta  primera edicion del 2020 del ciberdragon infinity viene con brilli brilli y por eso es tan valiosa</p>
            </h4>
            <p>
                <img src="~/imagenes de museo/ciber dragon infinity con brilli brilli.jpg" />
            </p>

        </div>

        <br>
        </br>

        <div>
            <h3>
                <p style="color:#ffffff" ;>zapatos chquitos</p>
            </h3>
            <h4>
                <p style="color:#ffffff" ;>estos zapatos son muy chiquitos y muy bonitos</p>
            </h4>
            <p>
                <img src="~/imagenes de museo/ejemplar de un par de zapatos quiqitos.jpg" />
            </p>

        </div>

        <br>
        </br>

        <div>
            <h3>
                <p style="color:#ffffff" ;>jardin de van Gogh</p>
            </h3>
            <h4>
                <p style="color:#ffffff" ;>distintas obras inspiradas en las pinturas de van Gogh, las personas de la foto no hacen parte de la exhibicion</p>
            </h4>
            <p>
                <img src="~/imagenes de museo/el jardin de bangkok.jpg"
                     width="800" />
            </p>

        </div>

        <br>
        </br>

        <div>
            <p>
                <img src="~/imagenes de museo/escultura de pepechu.jpg" />
            </p>

        </div>

        <br>
        </br>

        <div>
            <p>
                <h3>
            <p style="color:#ffffff" ;>Escupidera de rasputin </p>
            </h3>
            <h4>
                <p style="color:#ffffff" ;>rasputin escupia mucho, tiene saliva fosilisada en el fondo y los bordes</p>
                <img src="~/imagenes de museo/escupidera de rasputin.jpg" />
            </h4>
            </p>

        </div>

        <br>
        </br>

        <div>
            <p>
                <h3>
            <p style="color:#ffffff" ;>peluquin de trump</p>
            </h3>
            <h4>
                <p style="color:#ffffff" ;> este es el autentico y unico peluquin de donald trump, aqui y solo aqui, por eso cuando lo ves por la calle esta calvo</p>

                <img src="~/imagenes de museo/peluquin de trump.jpg" />
            </h4>
            </p>

        </div>

        <br>
        </br>

        <div>
            <p>
                <h3>
            <p style="color:#ffffff" ;>noche estrellada </p>
            </h3>
            <h4>
                <p style="color:#ffffff" ;> eexisten muchas noches pero esta esta estrellada" />
            </h4>
            </p>

        </div>

        <br>
        </br>

        <div>
            <p>
                <h3>
            <p style="color:#ffffff" ;> sofa y unos cuadros</p>
            </h3>
            <h4>
                <p style="color:#ffffff" ;>es un sofa y unos cuadros pegados en la pared, era una sala de estar pero se convirtio en una nueva pieza de exhibicion pues, porque es buy bonito</p>

                <img src="~/imagenes de museo/sofa y unos cuadros.jpg" />

            </h4>
            </p>

        </div>


        <br>
        </br>

        <div>
            <p>
                <h3>
            <p style="color:#ffffff" ;> los ultimos espaguetis doria del mundo</p>
            </h3>
            <h4>
                <p style="color:#ffffff" ;> estos son los ultimos fideos doria que abia en el supermercado, me parecio un hallazgo increible ademas de que tiene vitaminas y pos ahora lo tengo aqui enmarcado</p>


                <img src="~/imagenes de museo/ultimo ejemplarf de pasta doria en el mundo.jpg" width="600" />

            </h4>
            </p>

        </div>




    </div>
</body>

