
<h3 style="color: ghostwhite" ;>
    Acerca de pachinco

</h3>




<h4>
    <li style="color:ghostwhite" ;>
        No pagues nada a la entrada, simplemente tienes que mostrar tu pase.
    </li>
    <li style="color:ghostwhite" ;>
        Tómate tu tiempo para explorar todas las exposiciones.
    </li>
    <li style="color:ghostwhite" ;>
        Contempla millones de reliquias que desvelan la verdadera historia de pachincolandia.
    </li>
</h4>




<h3 style="color:ghostwhite" ;>
    Curiosidades sobre el Museo de Historia Natural Pachinco
</h3>
<h4>
    <li style="color:ghostwhite" ;>
        El museo lo conforman 5 edificios interconectados que albergan 45 exposiciones permanentes, un planetario y una biblioteca.
    </li>
    <li style="color:ghostwhite" ;>
        El peluquin de donald trump se incorporo en 2022 y fuen encontrado en 2020 despues de uno de sus discursos ceremoniales cuando una ventisca hiciera que saliece volando de su cabeza.
    </li>
    <li style="color:ghostwhite" ;>
        la camiseta de messi, una camiseta de uno de los mejores jugadores de futbol de la historia , el cual utilizo en el mundial de turkmenistan de 1880, es la camiseta de futbol mas antigua del mundo.
    </li>
    <li style="color:ghostwhite" ;>
        El museo aparece en peliculas como, el pais mas pobre del mundo , la ayaguasca de la felicidad y la noche de los burreros.
    </li>


</h4>


<h3 style="color:ghostwhite" ;>
    Saber antes de ir
</h3>

<h4>
    <p style="color:ghostwhite" ;>
        Reservas

    </p>
    <p style="color:ghostwhite" ;>
        El Museo Americano de Historia Natural Pachinco requiere una reserva con antelación. Visita su página web para seleccionar la fecha y hora a la que deseas hacer tu visita. Deberás presentar tu pase válido para que lo escaneen y así poder entrar.
    </br>
    <p style="color:ghostwhite" ;>
        Entrada: para entrar, deberás presentar un pase válido para que puedan escanearlo y recibir tu entrada en cualquiera de estos dos lugares:
    </p>


</h4>

<h4>
    <p style="color:ghostwhite" ;>
        horarios:
        Miércoles - Domingo: 10:00 - 17:30
    </p>
    <p style="color:ghostwhite" ;>
        direccion: parque los burro mochos - este de los arrozales morados 5th calle pontezuela
        ciudad de pachinco
    </p>


</h4>








